@import "tailwindcss";

@theme {
	--font-sans: 'Inter', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji';
	--font-mono: 'JetBrains Mono', 'monospace';

    --color-light-primary: #cdd6f4;
    --color-light-secondary: #a6adc8;
    --color-dark-primary: #1e1e2e;
    --color-dark-secondary: #11111b;
    --color-accent-1: #89b4fa;
    --color-subtle: #7f849c;
    --color-main-heading: #cdd6f4;
}
